@import'buttons.scss';
@import'contact-form.css';
@import 'navbar.css';
@import'home-section.css';
@import 'contacts.css';

:root {
    --main-body-light-color: #FFFF; 
    --text-color: white;
    --main-body-dark-color: #083E85; /*#083E85*/
    --main-text-background-color: rgba(8, 62, 133, 0.8);
    
  }
  
  
  
  
 

