:root {
    --main-body-light-color: #FFFFFF; 
    --text-color: white;
    --main-body-dark-color: #083E85; /*#083E85*/
    --main-text-background-color: rgba(8, 62, 133, 0.8);
    
}
  
body{
  margin: 0;
}

/*---nav-bar-setyles----*/
.topnav {
  position: fixed; 
  top: 0; 
  left: 0; 
  width: 100%; 
  z-index: 1000; 
  overflow: hidden;
  background-color: var(--main-body-dark-color);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  transition: max-height 0.4s ease-in-out, min-height 0.4s ease-in-out, background-color 0.3s ease-in-out;
    max-height: 65px; /* Collapsed state */
    min-height: 65px; /* Collapsed state */
}

.topnav.responsive{
 max-height: 400px; 
 min-height: 325px;
 
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 22px 23px;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out; 
}

#navbar-right{
  float: right;
    
}

.topnav a:hover {
  background-color: #abcedb;
  color: black;
}


.topnav .icon {
  display: none;
}

/* For smaller screens (less than 600px) */
@media screen and (max-width: 650px) {
  /* Hide all links except the icon initially */
  .topnav #navbar-right a {
    display: none;
  }

  /* Keep the icon at the top-right */
  .topnav a.icon {
    display: block;
    position: absolute; /* Fixes it in the top-right */
    right: 5px;
    top: 5px;
    margin-right: -11px;
    margin-top: -11px;
    font-size:20px;
    
  }

  /* When responsive class is added, display the links below the icon */
  .topnav.responsive #navbar-right a {
    display: block;
    text-align: right;
    overflow: none;
    width: 92%; /* Full width for the menu items */
  }

  
  .topnav.responsive a.icon {
    position: absolute;
    right: 5px;
    top:5px;
    margin-right: -11px;
    margin-top: -11px;
  }

  
  .topnav.responsive #navbar-right {
    float: none;
    display: block;
    width: 100%;
  }
}

i{
  margin-right:3px ;
}

img {
  margin-top: 5px;
  margin-left: 4px;
  width: 130px; 
  height: auto; 
}

/*Home section style */
.home-section{
  margin-top: 65px;
  scroll-margin-top: 65px;
}

#h-home{
  margin-top: 200px;
  padding:5px;
  text-align: center;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: var(--main-body-light-color);
  background-color: var(--main-body-dark-color);
  border-radius:15px;
}




.home-section {
  margin-top: -47px;
  scroll-margin-top: 65px;
  background-image: url('pexels-tima-miroshnichenko2-6671419.jpg'); /* Background image URL */ /* Cover the entire section */
  background-size:cover;
  background-size: 100% 125%;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Prevent the image from repeating */
  padding: 192px 0px; /* Add some top and bottom padding */
  color: #ffffff; /* Set default text color to white for visibility */
  position: relative; /* Allow positioning of content over the image */
}

.home-section::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(105, 101, 101, 0.5); 
  z-index: 1; 
}

.home-section::after {
  content: '';
  position: absolute;
  top: 90px; 
  left: 40px; 
  width: 130px; 
  height: 130px; 
  background-image: url('long-black-curved-arrows2-set-260nw-2482787799.png'); 
  background-size: contain; 
  background-position: center; 
  background-repeat: no-repeat; 
  z-index: 2; 
  background-color: transparent;
  animation: fadeInUp 2s ease-out forwards;
}

 #school{
  padding-top: 18px;
  position: absolute;
  top: 120px; 
  left: 170px; 
  width: 180px; 
  height: 90px; 
  z-index: 2; 
  font-size: 21px;
  font-weight:bolder;
  background-color:var(--main-text-background-color);
  border-radius: 50px;
  text-align: center;
  animation: fadeInUp 2s ease-out forwards;
}

@media screen and (max-width: 800px) {
  .home-section {
    margin-top: 64px;
    background-image: url('pexels-tima-miroshnichenko-6670797.jpg'); 
    min-height:246px;
  }
  .home-section::after{
    background-image:  url('long-black-curved-arrows2-set-260nw-2482787799.png');
    top: -15px;
    width: 120px; 
    height: 120px;
    left: 45px;
  }
  #h-home{
    margin-top: auto;
    margin-bottom:auto;
  }
  #school{
     padding-top: 15px;
    padding-bottom: -10px;
    position: absolute;
    top: 18px; 
    left: 165px; 
    width: 150px; 
    height: 70px; 
    z-index: 2; 
    font-size: 18px;
    font-weight:bolder;
    text-align: center;
  }
}



.h1-container {
  position: relative; 
  z-index: 2; 
}

#h-home {
  
  padding: 15px;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: var(--main-body-light-color);
  background-color:var(--main-text-background-color);
  border-radius: 15px;
  max-width: 890px;
  margin-left: auto;
  margin-right: auto;
  font-size: 24px;
  line-height: 1.5; 
  animation: fadeInUp 1s ease-out forwards;
}

@keyframes fadeInUp {
  0% {
    transform: translateY(100%) scale(0.5);
    opacity: 0;
  }
  100% {
    transform: translateY(0%) scale(1);
    opacity: 1;
  }
}