/*konsultacia button*/
$speed: 0.5s;


.course{
  opacity:0;
}
.swiper-slide-active .course{
  animation: fadeInUp 1s ease-out forwards;
  animation-delay: 0.5s;
  opacity: 0;
  cursor: pointer;
  display: flex;
  width: 100px;
  z-index: 2;
  display: flex;
}

.dontDisplay{
  display: none !important;
}

.btn-flip {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: 0;
  color: #ffff;
  line-height: 40px;
  text-align: center;
  letter-spacing: 1px;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 5px;
  font-weight: bold;
  z-index: 1;

  &:hover {
    &:after {
      opacity: 1;
      transform: translateY(0) rotateX(0);
    }

    &:before {
      opacity: 0;
      transform: translateY(50%) rotateX(90deg);
    }
  }

  &:after {
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    color: var(--main-body-light-color);
    display: block;
    transition: $speed;
    position: absolute;
    background: #fda403;
    content: attr(data-back);
    transform: translateY(-50%) rotateX(90deg);
    border-radius: 5px;
  }

  &:before {
    top: 0;
    left: 0;
    opacity: 1;
    color: var(--main-body-light-color);
    display: block;
    padding: 0 10px;
    line-height: 40px;
    transition: $speed;
    position: relative;
    background: #fda403;
    content: attr(data-front);
    transform: translateY(0) rotateX(0);
    border-radius: 5px;
  }
}

@media screen and (max-width: 800px) {
  .btn-flip {
    &:hover {
      &:after {
        opacity: 1;
        transform: translateY(0); // Remove rotateX(0)
      }

      &:before {
        opacity: 0;
        transform: translateY(50%); // Remove rotateX(90deg)
      }
    }

    &:after {
      top: 0;
      left: 0;
      opacity: 0;
      width: 100%;
      color: #ffff;
      display: block;
      transition: $speed;
      position: absolute;
      background: #fda403;
      content: attr(data-back);
      transform: translateY(-50%); // Remove rotateX(90deg)
    }

    &:before {
      top: 0;
      left: 0;
      opacity: 1;
      color: var(--main-body-light-color);
      display: block;
      padding: 0 10px;
      line-height: 40px;
      transition: $speed;
      position: relative;
      background: #fda403;
      content: attr(data-front);
      transform: translateY(0); // Remove rotateX(0)
    }
  }

  .course{
    display: flex;
    opacity: 100%;
  }

  .dontDisplay{
    display: block !important;
  }
}
