.courses-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-top: 15px;
  }

  .courses-div{
    width: 70%;
  }

  .courses-priceTable-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin-top: -25px;
  }

  .courses-p{
    font-weight: bold;
    line-height: 20px;
    text-align:justify;
  }
  
  .en-courses-ul{
    line-height: 24px;
    margin-left: -10px;
  }
  ul li::marker{
    color: var(--main-body-dark-color);
  }

  .ul-general li{
    margin-bottom: 10px
  }

  .collapsible {
    background-color: var(--main-body-dark-color);
    color: var(--text-color);
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    border-radius: 5px;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .collapsible:hover {
    background-color: var(--color-focus-ligh-blue);
  }

  @media (hover: none) {
    .active, .collapsible:hover {
      background-color: var(--main-body-dark-color); /* Disable hover effect */
      color: var(--text-color);
    }
  }
  
  /* Style the collapsible content. Note: hidden by default */
  .content {
    padding: 0 18px;
    background-color: aliceblue;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
    margin-bottom: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

  .collapsible:after {
    content: '\002B';
    color: var(--text-color);
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2212";
  }

  #england-flag-img{
    width: 100%;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

  .content p{
    line-height: 23px;
  }

  .span-bold{
    font-weight: bold;
  }

  .icons{
    padding:0;
    margin-right: 10px;
    margin-left:-5px;
  }

  .courses-cards-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:20px;
  }

  #main-div-courses-cards{
    display: flex;
    flex-direction: row;
    gap:50px;
    justify-content: center;
    align-items: center;
    width: 70%;
    flex-wrap: wrap;
    gap: 80px;
  }

  .courses-card{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 380px;
    width: 290px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
  }

  .card-headings{
    width: 100%;
    display: block;
    box-sizing: border-box;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 19px;
    font-weight: bold;
    padding: 18px;
    color: var(--text-color);
    background-color: var(--main-body-dark-color);
  }

  .courses-card:hover{
    transform: scale(1.03);
  }

  .pricing-ul{
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
    padding: 0;
  }
  .pricing-ul li{
    padding:12px;
    border-bottom: 1px solid rgb(223, 215, 215);
  }

  .enroll-btn {
    display: flex;
    border-radius: 4px;
    background-color:var(--main-body-dark-color);
    border: none;
    color: var(--text-color);
    text-align: center;
    font-size: 32px;
    padding: 12px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    height: 100%;
    width: 100%;
    transition: all 0.5s;
    cursor: pointer;
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .enroll-btn:after {
    content: '»';
    position: absolute;
    opacity: 0;  
    top: 13px;
    right: 20px;
    transition: 0.5s;
  }
  
  .enroll-btn:hover{
    padding-right: 24px;
    padding-left:8px;
    background-color: #1f569e;
  }
  
  .enroll-btn:hover:after {
    opacity: 1;
    right: 70px;
  }

  #body-english-courses #form{
    margin-top: auto;
   width: 70%;
   height: auto;
  }

  #body-english-courses #form .closebtn{
    display: none;
  }

  #body-english-courses #form #contact_span_div{
   width: 330px;
  }
 

  #body-english-courses #form #contact_btn{
    margin-bottom: 20px;
  }
  #body-english-courses #form{
    margin-bottom: 40px;
  }
  #body-english-courses #form #contact_us{
    text-align: center;
  }
#body-english-courses .price-h2-div{
  width: 100%;
}
#body-english-courses .main-div-table-prices{
  width: 100%;
}
  

  @media screen and (max-width: 800px) {
    .courses-div{
        width: 100%;
      }
      #main-div-courses-cards{
        width: 100%;
      }
      #body-english-courses #form{
       width: 100%;
      }
    
    .courses-priceTable-div{
      width: 100%;
    }
      
  }
  @media screen and (max-width: 600px){
    .courses-card{
      width: 100%;
    }
    #main-div-courses-cards{
      gap:50px;
    }
  }

  @media (hover: none) {
    .enroll-btn:hover {
      padding-right: 16px; 
      padding-left: 16px; 
      background-color: var(--main-body-dark-color);
    }
  
    .enroll-btn:hover:after {
      opacity: 1;
      right: 19%; 
    }
    .enroll-btn:after{
      opacity: 1;
      right: 25%;
    }
    .courses-card:hover {
      transform: none; 
    }
  }

  

  