#faq-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    padding: 20px;
  }

  .faq-section-main-div{
    width: 70%; 
  }

  .collapsible2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; 
    background-color: var(--main-body-dark-color);
    color: var(--text-color);
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    border-radius: 5px;
  }

  .active, .collapsible2:hover {
    background-color: var(--color-focus-ligh-blue);
  }
  .collapsible2:after {
    content: '\002B';
    color: var(--text-color);
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2212";
  }

  @media (hover: none) {
    .active, .collapsible2:hover {
      background-color: var(--main-body-dark-color); /* Disable hover effect */
      color: var(--text-color);
    }
  }

  @media screen and (max-width: 800px) {
    .faq-section-main-div{
        width: 100%;
      }
  }