.topnav {
  padding:0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: var(--main-body-dark-color);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  transition: max-height 0.4s ease-in-out, min-height 0.4s ease-in-out,
  background-color 0.3s ease-in-out;
  max-height: 65px; /* Collapsed state */
  min-height: 65px; /* Collapsed state */
}

.no-scroll {
  overflow: hidden;
  height: 100%; /* Prevent scrolling */
}

.topnav.responsive {
  max-height: 620px;
  min-height: 330px;
  overflow-y: scroll;
  max-width: 100vw;
}

@media screen and (max-height: 500px) {
  /* Make the menu scrollable only on smaller screens */
  .topnav.responsive {
    max-height: 350px; /* Adjust this value to control the height */
    overflow-y: auto;  /* Enable vertical scrolling */
  }
}

.topnav.responsive #phone-icon span {
  display: inline;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 22px 23px;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

#navbar-right {
  float: right;
  display: flex;
  align-items: center;
  justify-content: flex-end; /* Aligns items to the right */
  gap: 1rem; /* Adds space between elements */
}

#navbar-right .dropdown {
  position: relative;
  display: inline-block; /* Ensures it fits alongside other elements */
}

.topnav a:hover {
  background-color: #abcedb;
  color: black;
}

/* Dropdown button style */
.dropdown {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #0a4592;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 5px;
  margin-top:62px;
 align-items: center;
 width: 200px;
 box-sizing: border-box; /* Border is included inside the element's size */
 border: 1px solid aliceblue;
 outline: none;
}


.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  box-sizing: border-box;
  text-align: left;
  width: 100%;
}


.dropdown-content a:hover {
  background-color: #abcedb;
  color: black;
}


#navbar-right .dropdown:hover .dropdown-content {
  display: block; /* Show dropdown on hover */
}

.topnav .icon {
  display: none;
}

i.fa-caret-down {
  margin-right: 10px; /* Adds margin to all sides */
}


@media (hover: none) {
  .topnav a:hover {
    background-color: transparent; /* Disable hover effect */
    color: var(--text-color);
  }
}

/* For smaller screens (less than 600px) */
@media screen and (max-width: 838px) {
  /* Hide all links except the icon initially */
  .topnav #navbar-right a {
    display: none;
  }
  i.fa-caret-down {
    margin-right: 5px; /* Adds margin to all sides */
  }

  /* Keep the icon at the top-right */
  .topnav a.icon {
    display: block;
    position: absolute; /* Fixes it in the top-right */
    right: 5px;
    top: 5px;
    margin-right: -5px;
    margin-top: -11px;
    font-size: 20px;
  }

  /* When responsive class is added, display the links below the icon */
  .topnav.responsive #navbar-right a {
    display: block;
    text-align: center;
    overflow: none;
    width: 100%; /* Full width for the menu items */
    padding: 20px 0px;
    margin-right: 20px;
  }

  .topnav.responsive a.icon {
    position: absolute;
    right: 5px;
    top: 5px;
    margin-right: -5px;
    margin-top: -11px;
  }

  .topnav.responsive #navbar-right {
    float: none;
    display: block;
  }

  .dropdown {
    width:100%;
  }
  .dropdown-content {
    width:100%;
}
}

i {
  margin-right: 3px;
}

#logo-id {
  margin-top: 5px;
  margin-left: 4px;
  width: 130px;
  height: auto;
}

#phone-icon {
  font-size: 20px;
  padding: 19px 23px;
}

@media screen and (max-width: 970px) {
  #phone-icon span {
    display: none;
  }
}




