#body-prices {
  margin: 0;
  font-family: sans-serif;
  position: relative;
}

.bg-shape, .bg.shape2 {
  position: relative;
  overflow: hidden;
  padding: 50px;
}

.bg-shape:after {
  content: '';
  position: absolute;
  width: 100vw; /* Full width of the viewport */
  border-bottom: 200px solid transparent;
  border-left:3000px solid aliceblue;
  border-top: 300px solid transparent;
  border-right: 300px solid transparent;
  top:20%; /* Position vertically */
  background-image: linear-gradient(to right, #ff7e5f, #feb47b);
  left: 0; /* Start from the left edge */
   /* Behind other elements */
   box-sizing: border-box;
   z-index: -1;
  }

  .bg-shape2::after{
    content: '';
  position: absolute;
  width: 100vw; /* Full width of the viewport */
  border-bottom: 200px solid transparent;
  border-left:3000px solid aliceblue;
  border-top: 300px solid transparent;
  border-right: 300px solid transparent;
  top: 45%; /* Position vertically */
  left: 0; /* Start from the left edge */
   /* Behind other elements */
   box-sizing: border-box;
   z-index: -1;
   display: none;
  }

  .bg-shape3::after{
    content: '';
  position: absolute;
  width: 100vw; /* Full width of the viewport */
  border-bottom: 200px solid transparent;
  border-left:3000px solid aliceblue;
  border-top: 300px solid transparent;
  border-right: 300px solid transparent;
  top: 75%; /* Position vertically */
  left: 0; /* Start from the left edge */
   /* Behind other elements */
   box-sizing: border-box;
   z-index: -1;
   display: none;
  }



  
.price-general-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.price-h2-div{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 70%;
  margin-bottom: -35px;
}

.price-h2{
  color: var(--main-body-dark-color);
}

.main-div-table-prices {
  width: 70%; /* Make the table container 100% width */
  margin-top: 20px;
  display: flex;
  justify-content: center;
  text-align: center;
}


.price-table-general {
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

.price-table-general tr {
  border: 1px solid #ddd;
  padding: .35em;
}

.price-table-general th{
  background-color: var(--main-body-dark-color);
  color:var(--text-color);
}

.price-table-general td {
  padding: 10px;
  text-align: center;
}

.price-table-general th{
  padding: 20px;
}

.price-table-general th {
  text-transform: uppercase;
}

tr:nth-child(even) {
  background-color: #edf1f7;
}

tr:nth-child(odd) {
  background-color: #ffffff; /* Color for odd rows */
}

#course-span{
  font-weight: bold;
}

@media screen and (max-width: 880px) {
  .price-table-general {
    border: 0;
    width: 100%;
  }
  .bg-shape:after {
    top: 10%;
  }
  .bg-shape2::after{
    display: block;
  }
  .bg-shape3::after{
    display: block;
  }
  .main-div-table-prices{
    width: 100%;
  }
  .price-h2-div{
    width: 100%;
  }
  .price-h2{
    font-size: 20px;
  }
  .price-table-general thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  .price-table-general tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }
  
  .price-table-general td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }
  
  .price-table-general td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .price-table-general td:last-child {
    border-bottom: 0;
  }
  .price-table-general{
    width: 100%;
  }
}
