
.price-general-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.price-h2-div{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 70%;
  margin-bottom: -35px;
}

.price-h2{
  color: var(--main-body-dark-color);
}

.main-div-table-prices {
  width: 70%; /* Make the table container 100% width */
  margin-top: 20px;
  display: flex;
  justify-content: center;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.price-table-general {
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

.price-table-general tr {
  border: 1px solid #ddd;
  padding: .35em;
}

.price-table-general th{
  background-color: var(--main-body-dark-color);
  color:var(--text-color);
}

.price-table-general td {
  padding: 10px;
  text-align: center;
}

.price-table-general th{
  padding: 20px;
}

.price-table-general th {
  text-transform: uppercase;
}

tr:nth-child(even) {
  background-color: #edf1f7;
}

tr:nth-child(odd) {
  background-color: #ffffff; /* Color for odd rows */
}

#course-span{
  font-weight: bold;
}

@media screen and (max-width: 1040px) {
  .price-table-general {
    border: 0;
    width: 100%;
  }
  .bg-shape:after {
    top: 10%;
  }
  .bg-shape2::after{
    display: block;
  }
  .bg-shape3::after{
    display: block;
  }
  .main-div-table-prices{
    width: 100%;
  }
  .price-h2-div{
    width: 100%;
  }
  .price-h2{
    font-size: 20px;
  }
  .price-table-general thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  .price-table-general tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }
  
  .price-table-general td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 15px;
    text-align: right;
  }
  
  .price-table-general td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .price-table-general td:last-child {
    border-bottom: 0;
  }
  .price-table-general{
    width: 100%;
  }
  .main-div-table-prices {
    box-shadow: none;
  }
}

