@import 'buttons.scss';
@import 'contact-form.css';
@import 'navbar.css';
@import 'home-section.css';
@import 'contacts.css';
@import 'for-us.css';
@import 'why-us-section.css';
@import 'footer.css';
@import 'general.css';
@import 'how-we-work.css';
@import 'testimonial-section.css';


:root {
    --main-body-light-color: #FFFF; 
    --text-color: white;
    --main-body-dark-color: #083E85; /*#083E85*/
    --main-text-background-color: rgba(8, 62, 133, 0.8);
    --p-text-color: #808080;
    --color-dark: #151C35;
    --color-primary:#EE709D;
    --color-secondary-dark: #464C70;
    --color-text: #8297E2;
    --color-light: #EBEBFB;
  }
  
  
  
  
 

