#testimonials-section{
  padding: 20px;
}

.container{
  height: auto;
  display:flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-align: center;
  margin-top: 40px;
}

.board{
  max-width: 800px;
  width: 70%;
  background-color: var(--color-dark);
  text-align: center;
  border-radius: 8px;
  padding:  15px 0px;
  height: auto;
  overflow: hidden;
}

.text-light{
  color:var(--color-light)
}
.swiper-pagination-bullet {
  background-color: aliceblue; /* Change to your desired color */
  opacity: 0.6; /* Adjust transparency */
}

.swiper-pagination-bullet-active {
  background-color: #007AFF; /* Change to your desired active dot color */
  opacity: 1; /* Fully opaque */
  height: 9px;
  width: 9px;
}

.swiper .swiper-slide .flex{
  margin: 3em o;
  padding-bottom: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.swiper .swiper-slide .comments{
  background-color: var(--color-light);
  padding: 1.5em 2em;
  width: 50%;
  border-radius: 5px;
  font-size: .9em;
  position: relative;
}

.swiper .swiper-slide .comments::after{
  content: "";
  position: absolute;
  bottom: -19px;
  left: 45%;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid var(--color-light);
  z-index: -99;
}

.swiper .profile{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1em;
}

.swiper .profile img{
  width: 85px;
  height: 85px;
  border-radius: 50%;
  border: 5px solid var(--color-primary);
  margin: 10px 0;
}

.swiper .profile > a{
  text-decoration: none;
  color: var(--color-light);
}

.swiper .profile > span{
  color:var(--color-text);
  font-size: .8em;
}

.swiper .swiper-button-prev, .swiper-button-next{
  color: var(--color-text);
  display: block;
  transition: transform .1s;
}

.swiper-button-prev:hover, .swiper-button-next:hover{
transform: scale(1.1);
color: #96a7e4
}


/* Default styles for larger screens */
.swiper {
  width: 100%;
  max-width: 600px;
}

.rating i {
  color: #FFD700; /* Gold color for the stars */
  margin-right: 5px; /* Space between stars */
  font-size: 15px;
  padding-bottom: 10px;
}

.rating{
  margin-top: 5px;
}

/* Adjust for screens smaller than 768px */
@media (max-width: 800px) {
  .swiper { 
    width: 70%; 
  }
  .container{
    margin-top: 20px;
  }

  .swiper .swiper-slide .flex {
    margin: 2em 0; 
    padding-bottom: 20px; 
  }
  .swiper .swiper-button-prev, .swiper-button-next{
    display: none;
  }

}

/* Further adjustments for screens smaller than 480px */
@media (max-width: 600px) {
  .swiper {
    width: 100%;
  }

  .swiper .swiper-slide .flex {
    margin: 1.5em 0; 
    padding-bottom: 10px; 
  }

  .board{
    width: 100%;
  }
}
