#why-us-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.h2-div-general {
  display: flex;
  height: 50px;
  justify-content: center; /* Center horizontally */
}

.h2-general {
  color: var(--main-body-dark-color);
}

#filologists-info-div {
  display: flex;
  justify-content: center;
  width: 70%;
  text-align: center;
}

#filologists-info-p {
  color: var(--p-text-color);
  font-size: 17px;
}

@media screen and (max-width: 800px) {
  #filologists-info-div {
    width: 100%;
  }
  .h2-general {
    text-align: center;
  }
  .home-page-hr {
    display: none;
  }
  .h2-div-general{
    height: 75px;
  }
}

.home-page-hr {
  border-color: #808080;
  width: 500px;
  border-width: 1px;
  border-style: solid;
}
